.todo-container {
    background: #09091b;
    height: 500px;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    overflow-y: scroll;
    padding-right: 17px;
    position: fixed;
    top: 50px;
    left: 120px;
}
::-webkit-scrollbar {
    width: 4px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #002fff;
    border-radius: 15px;
    margin: 15px 0;
}

.todo {
    overflow: auto;
}

.todo-detail {
    width: 60%;
}


.todo-head {
    display: flex;
    justify-content:space-between;
}

.search {
    margin: 10px auto;
    background: transparent;
    border: 2px solid rgb(32, 32, 245);
    outline: none;
    padding: 14px;
    border-radius: 8px;
    width: 80%;
    color: #fff;
    text-transform: capitalize;
    font-size: 16px;
}

.search::placeholder {
    color: #e2e2e2;
}

select {
    background: linear-gradient(90deg, rgba(42, 45, 240, 1) 0%, rgb(223, 116, 245) 100%);
    border: 2px solid rgb(85, 29, 241);
    border-radius: 5px;
    color: #fff;
    outline: none;
    font: 16px;
}

.todo-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0 10px 0;
}

.todo-title>h1 {
    font-size: 18px;
}

.todo-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    margin: 10px 30px;
    border-radius: 5px;
    height: 44px;
}

.todo-item:nth-child(4n) {
    background: rgb(0, 60, 255);
}

.todo-item:nth-child(4n + 1) {
    background: rgb(247, 122, 50);
}

.todo-item:nth-child(4n + 2) {
    background: rgb(255, 0, 221);
}
.todo-item:nth-child(4n + 3) {
    background: rgb(0, 225, 255);
}

.todo-item>button {
    background: linear-gradient(90deg, rgba(25, 64, 240, 1) 0%, rgba(128, 24, 247, 1) 100%);
    border: none;
    outline: none;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

select>option {
    background: linear-gradient(90deg, rgba(25, 64, 240, 1) 0%, rgba(128, 24, 247, 1) 100%)
}